.cust-bg{
    background-color: white;
}

/*---Login---*/

.login-popup {
    position: relative;
    top: auto;
    transform: translate(-50%, 20%);
    left: 50%;
    padding: 30px 20px 50px 30px;
    width: 30%;
    box-shadow: 0px 0px 26px 12px #f0f0f3;
    color: black;
}
.login-wrap h3 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
}
.i-block {
    margin-bottom: 15px;
    text-align: initial;
}
.i-block label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
}
.i-block input {
    padding: 8px 10px;
    width: 95%;
    border: 1px solid #00000030;
    border-radius: 5px;
}
.i-block button:hover {
    background-color: transparent;
    border: 2px solid blue;
    color: blue;
}

.i-block button {
    width: 96%;
    padding: 8px 10px;
    background-color: #4f81fd;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #4f81fd;
    transition: all 0.4s ease-in-out;
}
h5.sps-sign {
    font-size: 11px;
    margin: -5px 10px 0;
    text-align: right;
}
h5.sps-sign span {
    color: blue;
    font-size: 12px;
}
h5.status {
    margin-bottom: 30px;
    color: red;
}
a.btn-btn {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
a.btn-btn:hover {
    border-bottom: 1px solid blue;
}

.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 25px;
}
.cust-container{
    width:60%;
}
.form-control:focus {
    box-shadow: none;
}
.col-md-12.d-flex.align-items-center.mb-3 {
    position: relative;
}
i.zmdi {
    padding-left: 0;
    position: absolute;
    left: 8px;
}
i.zmdi.zmdi-comment-alt-text {
    padding-top: 12px;
}
.form-group{
    position: relative;
}

.cust .ql-editor {
    min-height: 18em;
}

